<% if comment.errors.any? %>
  <div class="alert alert-danger">
    Please fic the following errors:
    <% comment.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </div>
<% end %>